{% extends 'master.html' %}

{% block master %}
<div class="container">
    <h3>Listagem de Usuários do Sistema</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>jose</td>
                <td>Editar, Excluir</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}